---
layout: default
---

<h1 align="center"><b>Content Table</b></h1>
<ul class="social-media-list" align="center">
<li>
    <a href="#Youtube">Youtube</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Twitch">Twitch</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Vimeo">Vimeo</a>
<span>&nbsp;&nbsp;</span>
    <a href="#SoundCloud">SoundCloud</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Spotify">Spotify</a>
</li>
</ul>
<hr>
<br><br>

<h1 id="Youtube" align="center"><b>Youtube</b></h1>

{% highlight text %}
Syntax:
{% raw %}{% youtube [url] %}{% endraw %}

url(allowed types):
    * Video
    * Embed
    Not support (for now):
        * Playlists :(
{% endhighlight %}

<b>Note:</b> Possibly I will add the autoplay bool & privacy mode, but due Youtube’s policies, the autoplay can only be used if the video is muted.

<br>
<h3 id="example">Example</h3>
{% highlight text %}
{% raw %}
>Input: {% youtube "https://www.youtube.com/watch?v=T1itpPvFWHI" %}
{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe 
    src="//www.youtube.com/embed/T1itpPvFWHI" 
    frameborder="0" allowfullscreen="true"
    width="640" height="390"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Youtube">Output Live Example</a>

<br><br>
<hr>
<br><br>
<h1 id="Twitch" align="center"><b>Twitch</b></h1>

{% highlight text %}
Syntax:
{% raw %}{% twitch [url/id] [type] [bool] %}{% endraw %}

url(allowed):
    * //twitch.tv
    * //clip.twitch.tv
    * ID (channel/video/clip)

type:
    * channel => default 
    * video
    * clip

bool(autoplay):
    * false => default
    * true


IMPORTANT:
For now, if you want to specify the autoplay,
you need to specify the '[type]'.
{% endhighlight %}

<br>
<h3>Example</h3>
<b>Default syntax, with URL & ID:</b>
{% highlight text %}
{% raw %}# URL
>Input: {% twitch "https://www.twitch.tv/eleaguetv" %}

# ID
>Input: {% twitch "eleaguetv" %}
{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
        src="https://player.twitch.tv/?channel=eleaguetv"
        frameborder="0" allowfullscreen="true"
        scrolling="no" autoplay="false"
        height="390" width="640"
    ></iframe>
</div>

NOTE: [autoplay="false"] If not specified, false is default.
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Twitch">Output Live Example</a>

<br>
<h2><b>Specifying attributes:</b></h2>

<ul>
  <li><b><a href="#channel">channel</a></b></li>
  <li><b><a href="#video">video</a></b></li>
  <li><b><a href="#clip">clip</a></b></li>
</ul>

<br><br>
<h2 id="channel"><b>channel:</b></h2>
{% highlight text %}
{% raw %}# Channel (w/ autoplay)

# URL
>Input: {% twitch "https://www.twitch.tv/eleaguetv" channel true %}

# ID (without autoplay)
>Input: {% twitch "eleaguetv" channel %}
{% endraw %}
------------------------------------------------------------

>Output:
    ... src="url" scrolling="no" ... autoplay="true" ...

>Output:
    ... src="url" scrolling="no" ... autoplay="false" ...

{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Twitch_channel">Output Live Example</a>

<br><br>
<h2 id="video"><b>video:</b></h2>
{% highlight text %}
{% raw %}# URL
>Input: {% twitch "https://www.twitch.tv/videos/428421496" video false %}

# ID
>Input: {% twitch "428421496" video %}{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
    src="https://player.twitch.tv/?video=428421496&autoplay=false"
    frameborder="0" allowfullscreen="true" scrolling="no"
    autoplay="false" height="390" width="640"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Twitch_video">Output Live Example</a>

<br><br>
<h2 id="clip"><b>clip:</b></h2>
{% highlight text %}
{% raw %}# URL (type 1)
>Input: {% twitch "https://clips.twitch.tv/EntertainingObliviousHedgehogTriHard" clip %}

# URL (type 2)
>Input: {% twitch "https://www.twitch.tv/eleaguetv/clip/EntertainingObliviousHedgehogTriHard" clip %}

# ID
>Input: {% twitch "EntertainingObliviousHedgehogTriHard" clip %}{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
    src="https://clips.twitch.tv/embed?clip=EntertainingObliviousHedgehogTriHard&autoplay=false"
    frameborder="0" allowfullscreen="true" scrolling="no"
    autoplay="false" height="390" width="640"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Twitch_clip">Output Live Example</a>

<br><br>
<hr>
<br><br>
<h1 id="Vimeo" align="center"><b>Vimeo</b></h1>

{% highlight text %}
Syntax:
{% raw %}{% vimeo [url] %}{% endraw %}
{% endhighlight %}

<br>
<h3>Example</h3>

{% highlight text %}
{% raw %}
>Input: {% vimeo "https://vimeo.com/177667683" %}
{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
    src="https://player.vimeo.com/video/177667683"
    frameborder="0" allowfullscreen="true"
    scrolling="no" height="390" width="640"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Vimeo">Output Live Example</a>

<h3>Next version will have support for ID.</h3>

<br><br>
<hr>
<br><br>
<h1 id="SoundCloud" align="center"><b>SoundCloud</b></h1>

{% highlight text %}
Syntax:
{% raw %}{% soundcloud [id] [color] [bool] %}{% endraw %}

id => nums (not url name)

color: Need to be in HEX
        without the '#'
    * DEF: ff7700 => orange

bool(autoplay):
    * false => default
    * true

IMPORTANT:
For now, if you want to specify the autoplay,
you need to specify the '[color]'.   
{% endhighlight %}

<br>
<h3>Example</h3>
<b>Default syntax:</b>

{% highlight text %}
{% raw %}# Default (id)
>Input: {% soundcloud "242059089" %}
{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
    width="100%" height="166" scrolling="no" frameborder="no"
    src="//w.soundcloud.com/player/?url=//api.soundcloud.com/tracks/242059089&color=%23ff7700&auto_play=false&visual=true"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#SoundCloud">Output Live Example</a>

<br>
<b><h2>Specifying attributes: </h2>color & autoplay</b>
{% highlight text %}
{% raw %}# Color
>Input: {% soundcloud "242059089" 00ff00 %}
# 00ff00 => green/lime

# Autoplay
>Input: {% soundcloud "242059089" 00ff00 true %}
# Need specify the color for use autoplay
{% endraw %}
{% endhighlight %}

{% highlight text %}
# Color
>Output:
<div class="embed-container">
    <iframe
    width="100%" height="166" scrolling="no" frameborder="no"
    src="//w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/242059089&color=%2300ff00&auto_play=false&visual=true"
    ></iframe>
</div>


# Autoplay
>Output:
<div class="embed-container">
    <iframe
    width="100%" height="166" scrolling="no" frameborder="no"
    src="//w.soundcloud.com/player/?url=//api.soundcloud.com/tracks/242059089&color=%2300ff00&auto_play=true&visual=true"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#SoundCloud2">Output Live Example</a>

<h3>If I can, the next version will have support for url.</h3>


<br><br>
<hr>
<br><br>
<h1 id="Spotify" align="center"><b>Spotify</b></h1>

{% highlight text %}
Syntax:
{% raw %}{% spotify [id/url] %}{% endraw %}

id => Only the alphanumeric ID,
      spotify:track:7HOgPR1oVFyq9SwJrniXbR
                    ^     ONLY THIS      ^


url => Support:
    * //open.spotify.com/album/
    * //open.spotify.com/embed/track/
{% endhighlight %}

<br>
<h3>Example</h3>
<b>Default syntax:</b>

{% highlight text %}
{% raw %}# Default (id)
>Input: {% spotify "7HOgPR1oVFyq9SwJrniXbR" %}

# Default (url)
>Input: {% spotify "https://open.spotify.com/album/506UfbQDCfKf7979JBqLsH" %}
>Input: {% spotify "https://open.spotify.com/embed/track/7HOgPR1oVFyq9SwJrniXbR" %}
{% endraw %}
{% endhighlight %}

{% highlight text %}
>Output:
<div class="embed-container">
    <iframe
    width="100%" height="166" scrolling="no" frameborder="no"
    src="//embed.spotify.com/?uri=track/7HOgPR1oVFyq9SwJrniXbR"
    ></iframe>
</div>
{% endhighlight %}
<a href="{{site.baseurl}}/outputs/#Spotify">Output Live Example</a>