---
layout: page
title: Outputs
permalink: /outputs/
---

<h1 align="center"><b>EXAMPLES LIST</b></h1>
<ul class="social-media-list" align="center">
<li>
    <a href="#Youtube">Youtube</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Twitch">Twitch</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Vimeo">Vimeo</a>
<span>&nbsp;&nbsp;</span>
    <a href="#SoundCloud">SoundCloud</a>
<span>&nbsp;&nbsp;</span>
    <a href="#Spotify">Spotify</a>
</li>
</ul>
<hr><br><h1 align="center"><b>NOTE: </b>The autoplay is <u>disabled</u> in this page.</h1><hr><br><br>

<div id="Youtube">
    <h1 align="center"><b>Youtube</b></h1>
    {% youtube "https://www.youtube.com/watch?v=T1itpPvFWHI" %}
</div>

<br><br>
<hr><br><br>

<div id="Twitch">
    <h1 align="center"><b>Twitch</b></h1>
        {% twitch "eleaguetv" %}

    <br><br><br>
    <div id="Twitch_channel">
        <h1><b>Channel</b></h1>
        {% twitch "eleaguetv" channel %}
    </div>
    <br><br>
    <div id="Twitch_video">
        <h1><b>Video</b></h1>
        {% twitch "428421496" video %}
    </div>
    <br><br>
    <div id="Twitch_clip">
        <h1><b>Clip</b></h1>
        {% twitch"EntertainingObliviousHedgehogTriHard" clip %}
    </div>
</div>

<br><br>
<hr><br><br>

<div id="Vimeo">
    <h1 align="center"><b>Vimeo</b></h1>
        {% vimeo "https://vimeo.com/177667683" %}
</div>

<br><br>
<hr><br><br>

<div id="SoundCloud">
    <h1 align="center"><b>SoundCloud</b></h1>
        {% soundcloud "242059089" %}
    <br><br>
    <div id="SoundCloud2">
        <h1><b>Color (defined: 00ff00)</b></h1>
        {% soundcloud "242059089" 00ff00 %}
        <br>
        <h1><b>Autoplay</b></h1>
            {% soundcloud "242059089" 23ff7700 false %}
    </div>
</div>

<br><br>
<hr><br><br>

<div id="Spotify">
    <h1 align="center"><b>Spotify</b></h1>
        {% spotify "7HOgPR1oVFyq9SwJrniXbR" %}
</div>